<form action="{{ path('admin.model.delete', {id: model.id}) }}" onsubmit="return confirm('es tu sur de vouloir supprimer ce model ?')" method="POST">
    <input type="hidden" value="{{ csrf_token('delete'~ model.id) }}" name="token">
    <input type="submit" class="btn btn-primary" value="Delete">
</form>