<form action="{{ path('admin.marque.delete', {id: marque.id}) }}" onsubmit="return confirm('es tu sur de vouloir supprimer la marque : {{ marque.name }}')" method="POST">
    <input type="hidden" name="token" value="{{ csrf_token('delete'~ marque.id) }}">
    <input type="submit" value="Delete" class="btn btn-primary">
</form>