{% extends 'base.html.twig' %}

{% block title %}
    Update des Delivery
    {{ parent() }}
{% endblock %}

{% block body %}

    <section class="container">
        <h1>Update Delivery</h1>

        {{ form_start(form) }}
            <input type="submit" value="Update" class="btn btn-secondary">
        {{ form_end(form) }}

        <hr>

            <h2>Produit liee a cette delivery :</h2>
        <div>
            {% for product in products %}
                <p>{{ product.name }}</p>
                <hr>
            {% endfor %}
        </div>
    </section>

{% endblock %}