<form action="{{ path('admin.taxe.delete', {id: taxe.id}) }}" method="POST" onsubmit="return confirm('Es tu sur de vouloir delete cette taxe ?')">
    <input type="hidden" name="token" value="{{ csrf_token('delete' ~ taxe.id) }}">
    <input class="btn btn-primary" type="submit" value="Delete">
</form>