<form action="{{ path('admin.productVariant.delete', {id: productVariant.id}) }}" method="POST" onsubmit="return confirm('Es tu sur de vouloir supprimer le product variant')">
    <input type="hidden" name="token" value="{{ csrf_token('delete' ~ productVariant.id) }}">
    <input type="submit" class="btn btn-primary" value="Delete">
</form>