<form method="POST" action="{{ path('admin.product.delete', {id: product.id}) }}" onsubmit="return confirm('Es tu sur de vouloir delete le produit : {{ product.name }}')">
    <input type="hidden" name="token" value="{{ csrf_token('delete' ~ product.id) }}">
    <input class="btn btn-primary" type="submit" value="Delete">
</form>