{% extends 'Security/security/adminBase.html.twig' %}

{% block title %}
    Create Product
    {{ parent() }}
{% endblock %}

{% block body %}

    <section class="container">
        <div>
            <h1>Create Product</h1>
            <a class="btn btn-primary" href="{{ path('admin.product.index') }}">Retour a la liste des Produits</a>
        </div>

        <div class="d-flex">
            {{ form_start(form) }}
                <input type="submit" class="btn btn-secondary">
            {{ form_end(form) }}
        </div>

    </section>

{% endblock %}