<form action="{{ path('admin.gender.delete', {id: gender.id}) }}" method="POST" onsubmit="return confirm('Est tu sur de vouloir supprimer ce gender')">
    <input type="hidden" value="{{ csrf_token('delete' ~ gender.id) }}" name="token">
    <input type="submit" value="Delete">
</form>