{%extends 'base.html.twig' %}

{% block title %}
    Update Gender
    {{ parent() }}
{% endblock %}

{% block body %}
<section class="container">
    <h1>Update Gender</h1>

    {{ form_start(form) }}
     <input class="btn btn-secondary" type="submit" value="Update">
    {{ form_end(form) }}
    <br>
    <a class=" btn btn-secondary" href="{{ path('admin.gender.index') }}">Retour a la liste des gender</a>

</section>


{% endblock %}