<div class="footer">
    <div class="footer-all">
        <div class="footer-section">
                <p class="footer-section-first-text">Nous contacter</p>
            <div class="d-flex">
                <div class="mail-icon">
                    <i class="bi bi-envelope"></i>
                </div>
                <p> Portail de contact notre équipe s’engage à vous répondre en 24 à 48h ouvrées.
                </p>
            </div>
        </div>

        <div class="footer-section">
            <p class="footer-section-first-text">A prospos de Wethenew</p>
            <p>Wethenew a pour mission de donner la possibilité à tous les amateurs, les passionnés et les curieux de sneakers et streetwear d’acheter les produits limités qui leur plaisent en toute confiance.</p>
        </div>

        <ul class="footer-section">
            <li class="footer-section-first-text">En savoir plus</li>
            <a href="#">
                <li>Notre concept</li>
            </a>
            <a href="#">
                <li>Conditions de nos offres</li>
            </a>
            <a href="#">
                <li>Wethenew Galleries Lafayette</li>
            </a>
        </ul>

        <ul class="footer-section">
            <li class="footer-section-first-text">Nos services</li>
            <a href="#">
                <li>E-carte cadeau</li>
            </a>
            <a href="#">
                <li>FAQ</li>
            </a>
            <a href="#">
                <li>Programme Wethenew family</li>
            </a>
            <a href="#">
                <li>Vendez votre produit</li>
            </a>
            <a href="#">
                <li>Envoi et livraison</li>
            </a>
        </ul>

        <ul class="footer-section">
            <li class="footer-section-first-text">Nos Collections</li>
            <a href="#">
                <li>Sneakers Femme</li>
            </a>
            <a href="#">
                <li>Sneakers Homme</li>
            </a>
            <a href="#">
                <li>Sneakers Eco-responsable</li>
            </a>
            <a href="#">
                <li>Moins de 200€</li>
            </a>
        </ul>

        <div class="footer-section">
            <p class="footer-section-first-text">Retrouver nous sur </p>
            <ul class=" ul-logo" >
                <li>
                    <a href="#">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-tiktok"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-pinterest"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>