<div>
    <div>
        <p>Nous contacter</p>
        <p>Portail de contact
            notre équipe s’engage à vous répondre en 24 à 48h ouvrées.
        </p>
    </div>

    <div>
        <p>A prospos de Wethenew</p>
        <p>Wethenew a pour mission de donner la possibilité à tous les amateurs, les passionnés et les curieux de sneakers et streetwear d’acheter les produits limités qui leur plaisent en toute confiance.</p>
    </div>

    <ul>
        <li>En savoir plus</li>
        <li>Notre concept</li>
        <li>Conditions de nos offres</li>
        <li>Wethenew Galleries Lafayette</li>
    </ul>

    <ul>
        <li>Nos services</li>
        <li>E-carte cadeau</li>
        <li>FAQ</li>
        <li>Programme Wethenew family</li>
        <li>Vendez votre produit</li>
        <li>Envoi et livraison</li>
    </ul>

    <ul>
        <li>Nos Collections</li>
        <li>Sneakers Femme</li>
        <li>Sneakers Homme</li>
        <li>Sneakers Eco-responsable</li>
        <li>Moins de 200€</li>
    </ul>

    <ul>
        <li>Retrouver nous sur </li>
        <li>I</li>
        <li>T</li>
        <li>X</li>
        <li>F</li>
        <li>P</li>
    </ul>
</div>