{% extends 'base.html.twig' %}

{% block title %}
    Login
    {{ parent() }}
{% endblock %}

{% block body %}
{#  TODO: Faire le css  #}
    <section >
        <div class="container d-flex justify-content-center align-items-center">
            <h1 class="mb-3">Login Page</h1>
            <div class="form-group mt-5">
                <form action="{{ path('app.login') }}" method="post">
                    <div class="mb-3">
                        <label class="form-label" for="username">Email:</label>
                        <input type="text" id="username" name="_username" value="{{ last_email }}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="password">Password:</label>
                        <input type="password" id="password" name="_password">
                    </div>

                    <button class="btn btn-secondary" type="submit">login</button>
                </form>
            </div>
        </div>

    </section>
{% endblock %}
